mixin video(video)
    a(href=`/videos/${video._id}`)#mixin-video
        video(src=video.fileUrl, width="200px", height="150px").latest-video 
        div
            span#mixin-video-title #{video.title}
        div
            span#mixin-video-views #{video.meta.views} 
            if video.meta.views > 0
                span views
            else
             span view