#change-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

#change-password input{
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 40px;
}

.change-password-error{
    position: absolute;
    color: red;
    top: -30px;
    left: 0;
}
#change-passwrod-title{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}