#upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#upload input{
    padding: 20px;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 40px;
}

.upload-title{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}