doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/css/styles.css")
    body

        include partials/header2
        
        main.main2
            block content
    script(src="https://kit.fontawesome.com/6ade36b36a.js", crossorigin="anonymous", defer)
    script(src="/static/js/main.js")
    
    block scripts
