extends base

block content
    span#change-passwrod-title Change Password
    
    form(method="POST")#change-password
        if errorMessage
            span.change-password-error=errorMessage
        input(type="password", name="currentPassword", required, placeholder="Current Password")
        input(type="password", name="newPassword", required placeholder="New Password")
        input(type="password", name="confirmPassword", required, placeholder="Confirm Password") 
        input(type="submit", value="Change Password").submit-button